GenericFileTransferClient/Service References/GenericFileTransferService/GenericFileTransferService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50508/GenericFileTransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenericFile.DataService" />
  <xs:element name="GetAllReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="GetAllReportsResult" nillable="true" type="q1:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsByReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsByReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="GetColumnsByReportResult" nillable="true" type="q2:ArrayOfColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="report" nillable="true" type="q3:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="report" nillable="true" type="q4:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="column" nillable="true" type="q5:Column" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertColumnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="column" nillable="true" type="q6:Column" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColumnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportFromId" type="xs:int" />
        <xs:element minOccurs="0" name="reportToId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="GetTransferMappingResult" nillable="true" type="q7:ArrayOfTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="transfers" nillable="true" type="q8:ArrayOfTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTempTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GenericFile.DataService" minOccurs="0" name="tempTransfer" nillable="true" type="q9:TempTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTempTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempTransferValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rowNumber" type="xs:long" />
        <xs:element minOccurs="0" name="colIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTempTransferValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTempTransferValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>