GenericFileTransferClient/Service References/GenericFileTransferService/GenericFileTransferService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49931/GenericFileTransferService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" />
  <xs:import schemaLocation="http://localhost:49931/GenericFileTransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAllReports">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="GetAllReportsResult" nillable="true" type="q1:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsByReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="reportId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsByReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="GetColumnsByReportResult" nillable="true" type="q3:ArrayOfColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="report" nillable="true" type="q4:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="report" nillable="true" type="q5:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="column" nillable="true" type="q6:Column" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertColumnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GenericFileTransfer.Data" minOccurs="0" name="column" nillable="true" type="q7:Column" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColumnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>