GenericFileTransferClient/Service References/GenericFileTransferService/GenericFileTransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericFile.DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericFile.DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49931/GenericFileTransferService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfColumn" />
          <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" type="xs:boolean" />
          <xs:element minOccurs="0" name="HeaderRow" type="xs:int" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResultRow" type="xs:int" />
          <xs:element minOccurs="0" name="Separator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SheetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Transfers" nillable="true" type="tns:ArrayOfTransfer" />
          <xs:element minOccurs="0" name="Transfers1" nillable="true" type="tns:ArrayOfTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ArrayOfColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Column" nillable="true" type="tns:Column" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumn" nillable="true" type="tns:ArrayOfColumn" />
  <xs:complexType name="Column">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Position" type="xs:int" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
          <xs:element minOccurs="0" name="ReportId" type="xs:int" />
          <xs:element minOccurs="0" name="ReportReference" nillable="true" type="q2:EntityReferenceOfReportJhU6VumU" />
          <xs:element minOccurs="0" name="Transfers" nillable="true" type="tns:ArrayOfTransfer" />
          <xs:element minOccurs="0" name="Transfers1" nillable="true" type="tns:ArrayOfTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Column" nillable="true" type="tns:Column" />
  <xs:complexType name="ArrayOfTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transfer" nillable="true" type="tns:Transfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransfer" nillable="true" type="tns:ArrayOfTransfer" />
  <xs:complexType name="Transfer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Column" nillable="true" type="tns:Column" />
          <xs:element minOccurs="0" name="Column1" nillable="true" type="tns:Column" />
          <xs:element minOccurs="0" name="Column1Reference" nillable="true" type="q3:EntityReferenceOfColumnJhU6VumU" />
          <xs:element minOccurs="0" name="ColumnFromId" type="xs:int" />
          <xs:element minOccurs="0" name="ColumnReference" nillable="true" type="q3:EntityReferenceOfColumnJhU6VumU" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Report" nillable="true" type="tns:Report" />
          <xs:element minOccurs="0" name="Report1" nillable="true" type="tns:Report" />
          <xs:element minOccurs="0" name="Report1Reference" nillable="true" type="q3:EntityReferenceOfReportJhU6VumU" />
          <xs:element minOccurs="0" name="ReportFromId" type="xs:int" />
          <xs:element minOccurs="0" name="ReportReference" nillable="true" type="q3:EntityReferenceOfReportJhU6VumU" />
          <xs:element minOccurs="0" name="ReportToId" type="xs:int" />
          <xs:element minOccurs="0" name="columnToId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transfer" nillable="true" type="tns:Transfer" />
</xs:schema>